[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Eresh-HR
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Eresh-HR
	label-Verified = -1..+1 group user/Eresh-HR
	push = group user/Eresh-HR
	read = group user/Eresh-HR
	rebase = group user/Eresh-HR
	removeReviewer = group user/Eresh-HR
	submit = group user/Eresh-HR
[access "refs/heads/*"]
	create = group user/Eresh-HR
	push = +force group user/Eresh-HR
	pushMerge = group user/Eresh-HR
	read = group user/Eresh-HR
[access "refs/tags/*"]
	push = group user/Eresh-HR
	push = +force group user/Eresh-HR
